<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <style>

    * {
      font-family: "Open Sans";
    }

    h1 {
      color: #2fafcc;
    }

    h4 {
      color: #053142;
    }

    strong {
      color: #053142;
    }

    h2 {
      text-align: center;
      color: #053142;
    }

    .table {
      text-align: center;
      display: block;
    }

    .table table {
      border-spacing: 0;
      border-collapse: collapse;
      border: 1px solid #053142;
      width: 60%;
      margin-left: 10%;
    }

    .table .darkblue-bg {
      background-color: #053142;
      color: #fff;
      border-spacing: 0;
      border-collapse: collapse;
      border: 1px solid #053142;
    }

    .table table tr {
      border-spacing: 0;
      border-collapse: collapse;
      border: 1px solid #053142;
    }
    .table table td {
      border-spacing: 0;
      border-collapse: collapse;
      border-left: 1px solid #053142;
    }
  </style>
  </head>
  <body>




  <div>
    <h1>
      Obrigado por ser inscrever!
    </h1>

    <h4>
      Olá, segue sua confirmação de inscrição. <br />
      Entraremos em contato para enviar o material do treinamento e informar os dados para acesso ao sistema.
    </h4>

    <p>
      <br/>
      <strong>
        Investimento:
      </strong>
      <strong>
        {{investiment}}.
      </strong>
      <br/>
      <strong>
        Inclui:
      </strong>
      Apostila digital, Acesso ao sistema idealDisc com 10 avaliações GRÁTIS, Seu relatório de Perfil Comportamental, Certificado DISC Avançado
      <br/>
      <strong>
        Local:
      </strong>
      <strong>
        Reunião online.
      </strong>
      <br/>
      <strong>
        Data:
      </strong>
      <strong>
        {{date}}.
      </strong>
      <br/>
      <strong>
        Horário:
      </strong>
      8h30 às 17h30.
    </p>

    <h2>
      Ficha de Inscrição
    </h2>

    {{#if returnableSubscription.billingData.pj}}
      <div class="table">
        <table rules="all">
          <tbody>
            <tr>
              <th class="darkblue-bg" colspan="2">Dados de Faturamento</th>
            </tr>
            <tr>
              <th class="darkblue-bg" colspan="2">Pessoa jurídica</th>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Empresa (Razão Social)</th>
              <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.billingData.corporateName}}</td>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">CNPJ</th>
              <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.billingData.cpfOrCnpj}}</td>
            </tr>
            {{#if returnableSubscription.billingData.street}}
              <tr>
                <th width="30%" style="border-bottom: 1px solid #000000;">Endereço</th>
                <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.billingData.street}}, {{returnableSubscription.billingData.number}}, {{returnableSubscription.billingData.complement}}, {{returnableSubscription.billingData.neighboor}}, {{returnableSubscription.billingData.city}}, {{returnableSubscription.billingData.state}}</td>
              </tr>
              <tr>
                <th width="30%" style="border-bottom: 1px solid #000000;">CEP</th>
                <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.billingData.postalCode}}</td>
              </tr>
            {{/if}}
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Nome</th>
              <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.billingData.name}}</td>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">E-Mail</th>
              <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.billingData.email}}</td>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Forma de Pagamento</th>
              <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.billingData.paymentMethod}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    {{else}}
      <div class="table">
        <table rules="all">
          <tbody>
            <tr>
              <th class="darkblue-bg" colspan="2">Dados de Faturamento</th>
            </tr>
            <tr>
              <th class="darkblue-bg" colspan="2">Pessoa Física</th>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Nome</th>
              <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.billingData.name}}</td>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">E-Mail</th>
              <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.billingData.email}}</td>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">CPF</th>
              <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.billingData.cpfOrCnpj}}</td>
            </tr>
            {{#if returnableSubscription.billingData.street}}
              <tr>
                <th width="30%" style="border-bottom: 1px solid #000000;">Endereço</th>
                <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.billingData.street}}, {{returnableSubscription.billingData.number}}, {{returnableSubscription.billingData.complement}}, {{returnableSubscription.billingData.neighboor}}, {{returnableSubscription.billingData.city}}, {{returnableSubscription.billingData.state}}</td>
              </tr>
              <tr>
                <th width="30%" style="border-bottom: 1px solid #000000;">CEP</th>
                <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.billingData.postalCode}}</td>
              </tr>
            {{/if}}
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Forma de Pagamento</th>
              <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.billingData.paymentMethod}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    {{/if}}

    <br/>

    {{#if alreadyClient}}
      <p style="font-size: 16px; text-align: center;"><span style="color: #2fafcc; font-weight: bold;">&#10003;</span> Cliente idealDisc</p>
    {{/if}}

    <br/>

    <div class="table">
      <table rules="all">
        <tbody>
          <tr>
            <th class="darkblue-bg" colspan="2">Dados dos participantes</th>
          </tr>
          {{#each returnableSubscription.participants}}
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Nome</th>
              <td style="border-bottom: 1px solid #000000;">{{this.name}}</td>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Cpf</th>
              <td style="border-bottom: 1px solid #000000;">{{this.cpf}}</td>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Email</th>
              <td style="border-bottom: 1px solid #000000;">{{this.email}}</td>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Telefone</th>
              <td style="border-bottom: 1px solid #000000;">{{this.tel}}</td>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Celular</th>
              <td style="border-bottom: 1px solid #000000;">{{this.cell}}</td>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Cargo</th>
              <td style="border-bottom: 1px solid #000000;">{{this.office}}</td>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Instagram</th>
              <td style="border-bottom: 1px solid #000000;">{{this.instagram}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <br/>

    {{#if returnableSubscription.masterUserData.name}}
      <div class="table">
        <table rules="all">
          <tbody>
            <tr>
              <th class="darkblue-bg" colspan="2">Dados do Usuário Master (plataforma idealDisc)</th>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Nome</th>
              <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.masterUserData.name}}</td>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Cargo</th>
              <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.masterUserData.office}}</td>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">E-mail</th>
              <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.masterUserData.email}}</td>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Telefone</th>
              <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.masterUserData.tel}}</td>
            </tr>
            <tr>
              <th width="30%" style="border-bottom: 1px solid #000000;">Celular</th>
              <td style="border-bottom: 1px solid #000000;">{{returnableSubscription.masterUserData.mobile}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    {{/if}}

    <div class="rodape">

      <strong>
        Importante:
      </strong>
      <br/>
        A participação é pessoal e intransferível.
      <br/><br/>

      <strong>
        Desistência:
      </strong>
      <br/>
        Em caso de desistência o interessado deve nos comunicar em até 5 dias antes da data do evento. Neste caso, o valor pago será devolvido.
      <br/><br/>

      <strong>
        Cancelamento e Alteração da data de participação do treinamento:
      </strong>
      <br/>
        <ul>
          <li>A idealDisc pode alterar a data, o local e cancelar com até 5 dias antes do evento, mediante informação por e-mail, ou verbal, garantindo a participação para a próxima turma ou devolução integral do valor em casos onde o participante não tenha mais interesse no treinamento.</li>
          <li>O interessado poderá alterar a data de participação apenas uma vez, mediante envio de e-mail com no máximo de 5 dias antes do evento.</li>
        </ul>
      <br/><br/>

    </div>
  </div>

  </body>
</html>
